.techs {
  padding-top: 110px;
  padding-bottom: 110px;
  margin: 0 auto;
}

.techs__main-text {
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  margin: 0;
  margin-top: 90px;
}

.techs__sub-text {
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  max-width: 460px;
  margin-top: 25px;
}

.techs__cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

.techs__card {
  margin: 0;
  padding: 20px 0;
  background-color: #e8e8e8;
  border-radius: 10px;
  width: 90px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .techs {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .techs__main-text {
    margin-top: 80px;
  }
  .techs__sub-text {
    font-size: 12px;
    line-height: 18px;
  }
  .techs__cards {
    margin-top: 80px;
  }
  .techs__card {
    width: 84px;
  }
}

@media screen and (max-width: 568px) {
  .about-project__content {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .techs__main-text {
    font-size: 30px;
    line-height: 36px;
  }
  .techs__sub-text {
    font-size: 11px;
    line-height: 16px;
  }
  .techs__cards {
    display: grid;
    grid-template-columns: 84px 84px;
    margin-top: 70px;
  }
}
